/* ############# FOOTER ##########*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33,44,66);
    padding: 20px 0;
    color: white;
    gap: 20px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.3); 
}

/* ############# LOGO ##########*/
footer .logo {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

footer .logo img {
    max-width: 100%;
}

/* ############# LINKS ##########*/
footer .bottom_links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

footer .bottom_links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .bottom_links a:hover {
    color: rgb(157, 227, 255);
}
