.navbar {
  background-color: rgb(149, 171, 214) !important; 
}

header.navbar {
    background-color:  rgb(33,44,66) !important; 

}

.navbar-brand img {
  max-height: 70px;
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(157, 227, 255) !important;
}

.btn-outline-light,
.btn-primary {
color:#e2ecff;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-outline-light:hover,
.btn-primary:hover {
color:#ffffff;
  transform: scale(1.05);
}

.container {
  margin-top: 40px; 
}

h4 {
  color: #4fc3f7;
}

.card {
  background-color: rgb(33,44,66);
  border: none;
  border-radius: 10px;
}
