@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Rubik', sans-serif;
    background-color: #f4f7ff;
    color: #000000;
    margin: 0;
    padding: 0;
 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 



}

#search-bar {
    margin: 0 auto 50px auto; 
    width: 80%;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
