@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ############# BODY ##########*/
body {
    font-family: 'Rubik', sans-serif;
    background-color:  #f4f7ff;
    color: #000000;
    margin: 0;
    padding: 0;
}

#perfil-usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

#user-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#user-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#user-info p {
    margin: 4px 0;
}

#user-statistics {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#comment-bar {
    max-width: 1200px;
    height: 30px;
}
#forum {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto; 
    align-items: center; 
}

#user-options {
    margin-top: 20px;
}

#user-options a, #user-options button {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    border-color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#desc-form, #img-form {
    margin-top: 10px;
}
#desc-form textarea {
    width: 100%;
    height: 60px;
    resize: none;
}

/* Comment Section */
#comment-box {
    background-color: rgb(33,44,66);
    color: #fafafa;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;

    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
}

#comment-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}


.comment-box {
    background: #fff;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 800px ;
}

.comment-user-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.comment-box strong {
    font-size: 14px;
}
